{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="/static/logs.css">
{% endblock %}

{% block content %}
<div class="logs-page">
    <div class="logs-controls">
        <input type="text" placeholder="Поиск по ID рассылки" class="search-logs-input">
    </div>

    <div class="logs-container">
        <div class="logs-block">
            <h3>ID: 001</h3>
            <div class="log-info">
                <span>Статус: Актив</span>
                <span>|</span>
                <span>Тип: Парс</span>
                <span>|</span>
                <span>Дата: 10-10-2025</span>
            </div>
            <button class="download-log-button">Скачать лог</button>
        </div>
        
        <div class="logs-block">
            <h3>ID: 002</h3>
            <div class="log-info">
                <span>Статус: Актив</span>
                <span>|</span>
                <span>Тип: Рассылка</span>
                <span>|</span>
                <span>Дата: 10-10-2025</span>
            </div>
            <button class="download-log-button">Скачать лог</button>
        </div>
        
        <div class="logs-block">
            <h3>ID: 003</h3>
            <div class="log-info">
                <span>Статус: Актив</span>
                <span>|</span>
                <span>Тип: Парс</span>
                <span>|</span>
                <span>Дата: 10-10-2025</span>
            </div>
            <button class="download-log-button">Скачать лог</button>
        </div>
    </div>
</div>
{% endblock %}