{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="/static/sessions.css">
{% endblock %}

{% block content %}
{% if request.args.get("success") %}
  {% if request.args.get("success") == '1' %}
    <div class="session-alert success-alert">Сессия успешно загружена</div>
  {% elif request.args.get("success") == '0' %}
    <div class="session-alert error-alert">Ошибка загрузки сессии</div>
  {% endif %}
  <script>
    setTimeout(() => {
      document.querySelector('.session-alert')?.remove();
    }, 3000);
  </script>
{% endif %}
<div class="sessions-page">

    <div class="session-controls">
        <input type="text" placeholder="Поиск сессии" class="search-session-input">
        <form class="upload-session" action="/upload-session" method="POST" enctype="multipart/form-data">
            <input type="file" name="session_files" class="upload-session-input" accept=".session,.json" multiple required>
            <button type="submit" class="upload-session-button">Загрузить сессию</button>
        </form>
    </div>

    <div class="sessions-container">
      {% for session in all_sessions%}
        <div class="session-block">
          <h3>Session id: {{ session.id }}</h3>
          <div class="session-info">
            <span>Статус: {{ "Активна" if session.is_valid else "Инвалид" }}</span>
            <span>|</span>
            <span>Дата: {{ session.date }}</span>
            <span>|</span>
            <span>User_id: {{ session.account_id }}</span>
          </div>
          <div class="session-buttons">
              <form method="POST" action="/delete-session" style="display:inline;">
                  <input type="hidden" name="session_id" value="{{ session.id }}">
                  <button type="submit" class="delete-session-button">Удалить сессию</button>
              </form>
              <a href="/session-info/{{ session.id }}" class="info-session-button">Инфо</a>
          </div>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock %}