{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="/static/tokens.css">
{% endblock %}

{% block content %}
<div class="tokens-page">
    <div class="token-controls">
        <input type="text" placeholder="Поиск токена" class="search-token-input">
        <div class="create-token">
            <input type="text" placeholder="Имя токена" class="new-token-input">
            <button class="create-token-button">Создать токен</button>
        </div>
    </div>

    <div class="tokens-container">
        <div class="token-block">
            <h3>Токен 1</h3>
            <p class="token-date">Дата: 10-10-2025</p>
            <button class="delete-token-button">Удалить токен</button>
        </div>
        <div class="token-block">
            <h3>Токен 2</h3>
            <p class="token-date">Дата: 10-10-2025</p>
            <button class="delete-token-button">Удалить токен</button>
        </div>
        <div class="token-block">
            <h3>Токен 3</h3>
            <p class="token-date">Дата: 10-10-2025</p>
            <button class="delete-token-button">Удалить токен</button>
        </div>
    </div>
</div>
{% endblock %}