{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="/static/tokens.css">
{% endblock %}

{% block content %}
<div class="tokens-page">
    <div class="token-controls">
        <input type="text" placeholder="Поиск токена" class="search-token-input">
        <form method="POST" action="/create-token" class="create-token">
            <input type="text" name="token_key" placeholder="Имя токена" class="new-token-input" required>
            <button type="submit" class="create-token-button">Создать токен</button>
        </form>
    </div>

    <div class="tokens-container">
        {% for token in tokens %}
        <form method="POST" action="/delete-token">
            <div class="token-block">
                <h3>{{ token.key }}</h3>
                <p class="token-date">ID: {{ token.id }}</p>
                <p class="token-date">NAME: {{ token.name }}</p>
                <p class="token-date">User ID: {{ token.user_id }}</p>
                <input type="hidden" name="token_id" value="{{ token.id }}">
                <button type="submit" class="delete-token-button">Удалить токен</button>
            </div>
        </form>
        {% endfor %}
    </div>
</div>
{% endblock %}