{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="/static/workers.css">
{% endblock %}

{% block content %}
<div class="worker-search">
    <input type="text" placeholder="Поиск воркера по имени" class="search-worker-input">
</div>
<div class="workers-container">
    {% for user in all_users %}
    <div class="worker-block">
        <h3>{{ user.username }}</h3>
        <p class="worker-type">Тип: {{ user.role }}</p>
        <p class="worker-date">Дата: {{ user.date }}</p>
        {% if not user.status %}
        <p class="worker-status blocked">Пользователь заблокирован</p>
        <form action="/unblock-user" method="post">
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <button type="submit" class="block-button unblock">Разблокировать</button>
        </form>
        {% else %}
        <form action="/block-user" method="post">
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <button type="submit" class="block-button">Заблокировать</button>
        </form>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}