body {
    background-color: #101935;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.statistic-page {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #080F25;
}

.statistic-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    color: white;
}

.search-statistic-input {
    flex: 1 1 300px;
    padding: 8px 12px;
    border: 0.5px solid rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    background-color: #181f37;
    color: white;
    font-size: 16px;
}

.search-statistic-input::placeholder {
    color: white;
}

.statistic-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.statistic-block {
    background-color: #181f37;
    border: 0.5px solid rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 8px;
    color: #ffffff;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.statistic-block h3 {
    margin: 0;
    margin-bottom: 5px;
}

.statistic-info {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 14px;
    color: #cccccc;
    flex-wrap: wrap;
}

.statistic-info span {
    white-space: nowrap;
}

.download-stat-button {
    padding: 8px 12px;
    background: linear-gradient(to right, #CB3CFF, #7F25FB);
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.80);
    border-radius: 4px;
    cursor: pointer;
    transition: background-position 0.5s ease;
    background-size: 200% 100%;
    background-position: left;
    align-self: flex-start;
}

.download-stat-button:hover {
    background-position: right;
}

.spinner {
    border: 0.5px solid rgba(255, 255, 255, 0.8);
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}